body{
    background-color: lightgray;
}
iframe{
   border-radius: 10px;
   margin-top: 50px;
}
iframe:hover{
    transform: scale(1.1);
    transition-duration: 1s;

}
div.alinha{
    text-align: center;
    
}
a{
    text-decoration: none;
    color: rgb(0, 217, 255);
    font-weight: bolder;
}