.p1{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 5px;
  border-radius: 10px;
  color: white;
  background-color: lightblue;
}

body {
  background-color: lightgray;
  text-align: center;
}


.caixas {
  width: 300px;
  border: 1px dashed black;
  border-radius: 10px;
  display: inline-block;
}

.caixas:hover{
  transform: scale(1.1);
  transition-duration: 1s;
  border: 1px dashed lightblue;
}