@charset "UTF-8";
/*TABLET*/
body{
    background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
    background-position: center center;
    }
main{
    text-align: center;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    background-color: white;
    overflow: hidden;
    height: 370px;
    border-radius: 10px;
}
h2{
    font-family: Arial, sans-serif;
}
form,.envio,.senha{
   margin-right: 350px;
}
form input{
    background-color: aquamarine;
    height: 40px;
    width: 380px;
    margin-left: 5px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    
}
.envio{
    margin-top: 100px;
    position: absolute;
    width:380px;
    border: none;
    background-color: aquamarine;
    height: 30px;
    right: 10px;
    left: 5px;
   
}
.senha{
   
   position: absolute;
    bottom: 40px;
    right: 10px;
    left: 5px;
    width:380px;
    border: none; 
    background-color: rgba(136, 255, 0, 0.329);
    height: 30px; 
}
.envio:hover{
    background-color: rgb(0, 128, 85);
    transform: scale(1.1);
    transition-duration: 1s;
}
.senha:hover{
    background-color: rgb(175, 204, 9);
    transform: scale(1.1);
    transition-duration: 1s;
}
img{
    width: 350px;
    height: 370px;
    position: absolute;
    bottom: 0%;
    left: 55%;
    border-radius: 10px;
    overflow: hidden;
    transition: width 0.3s,height 0.3s;
    transition-timing-function: ease;
}