@charset "UTF-8";

body{
    background-color: blueviolet;
}
main{
    text-align: center;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    background-color: white;
    overflow: hidden;
    height: 370px;
    border-radius: 10px;
}
h2{
    font-family: Arial, sans-serif;
}
form,.envio,.senha{
   margin-right: 350px;
}
form input{
    background-color: aquamarine;
    height: 40px;
    width: 380px;
    margin-left: 5px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    
}
.envio{
    margin-top: 100px;
    width:380px;
    border: none;
    background-color: aquamarine;
    height: 30px;
   
}
.senha{
   margin-top: 2px;
    width:380px;
    border: none; 
    background-color: rgba(136, 255, 0, 0.329);
    height: 30px; 
}
img{
    width: 350px;
    height: 370px;
    position: absolute;
    bottom: 0%;
    left: 55%;
    border-radius: 10px;
    overflow: hidden;
    transition: width 0.3s,height 0.3s;
    transition-timing-function: ease;
}