@charset "UTF-8";

/* Typical Device BreakPoints
Pequenas Telas: ATE 600PX
Celular: de 600px ate 768px
Tablet: 768px ate 992px
Desktop: 992px ate 1200px
Grandes Telas: acima de 1200px
*/

@media screen and (max-width:769px) {
    main{
       width: 450px;
    }
    form h2 {
       margin-left: 80px;
    }
    
    form input {
      margin-right: 10px;
      width: 230px;
    }
    .envio{
        width: 200px;
        position: relative;
        bottom: 50px;
        left: 20px;
    }
    .senha {
        width: 200px;
        position: relative;
        bottom: 50px;
        left: 20px;
    }
    img{
        width: 210px;
        overflow: hidden;
        background-position: right top;
    }
}