@charset "UTF-8";

/* Typical Device BreakPoints
Pequenas Telas: ATE 600PX
Celular: de 600px ate 768px
Tablet: 768px ate 992px
Desktop: 992px ate 1200px
Grandes Telas: acima de 1200px
*/

/*ANDROID*/
@media screen and (max-width:769px) {
    main{
       width: 450px;
    }
    form h2 {
       margin-left: 80px;
    }
    form p {
        margin-left: 20px;
    }
    
    form input {
      margin-right: 10px;
      width: 230px;
    }
    .envio{
        width: 200px;
        position: relative;
        bottom: 50px;
        left: 20px;
    }
    .senha {
        width: 200px;
        position: relative;
        bottom: 50px;
        left: 20px;
    }
    img{
        width: 210px;
        overflow: hidden;
        background-position: right top;
    }
}
/*TELAS GRANDES*/
@media screen and (min-width:1200px) {
    body{
    background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
    background-position: center center;
    }
    
     main{
       width: 1200px;
       font-size: 1.6em;
    }
    form {
        margin-right: 600px;
    }
    
    form input {
      width: 230px;
    }
    .envio{
        width: 300px;
        position: absolute;
        right: 550px;
        border-radius: 10px;
        left: 150px;
       
    }
    .senha {
        width: 300px;
        position: absolute;
        right: 330px;
       
        left: 150px;
        border-radius: 10px;
        
    }
    img{
        width: 600px;
        overflow: hidden;
        background-position: right top;
    }
}