@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
a{
    color: black;
}
header{
    padding: 10px;
    background-color: aquamarine;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

header h2 {
    font-size: 1.3em;
    flex: 0 0 200px;
}
header nav{
    display: flex;
    flex-flow: row wrap;
    
}
nav a {
    font-size: 1.1em;
    background-color: rgba(0, 0, 0, 0.349);
    padding: 10px;
    border-radius: 5px;
}
nav a:hover{
    background-color: rgb(0, 0, 0);
}
main{
    background-color: blanchedalmond;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.37); 
}

