@charset "UTF-8";

body {
    background-image: url(imagens/fundo-madeira.jpg);
  
    
}
a {
    list-style: none;
}


nav img {
    border-radius: 50%;
    width: 60px;
    margin-top: 10px;
    margin-left: 1400px;
}
nav img:hover{
    transform: scale(1.1);
    animation-duration: 1s;
    border: 1px solid rgb(0, 204, 255);
}

.celular {
     height: 627px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 311px;
    background-image: url(imagens/frame-iphone.png);
}
iframe{
    background-image: url(imagens/frame-iphone.png) no-repeat ;
    position: relative;
    top: 80px;
    left: 22px;
    width: 260px;
    height: 471px;
}